body {
    background: url('http://www.demo.amitjakhu.com/login-form/images/bg.png');
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 5em;
}

#signUpForm {
	background-color: #dfe9ec;
	padding: 15px;
}

.btn {
	margin-right: 10px;
}

.help-block {
	color: red;
}

h1 {
	font-weight: bold;
}


