<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="author" content=""> -->
    <!-- <meta name="description" content=""> -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <!-- our CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>

<body ng-app="RegistrationApp" class="container">
    <h1>Sign Up</h1>
    <p>Our service is fun and awesome, but you must be 13 years old to join</p>
    <!-- Form  -->
    <form id="signUpForm" ng-model="signUpForm" name="signUpForm" role="form" ng-controller="RegisterCtrl" novalidate>
        <div class="container">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input ng-model="email" name="email" type="email" class="form-control" id="email" placeholder="email address" required>
                <p ng-show="signUpForm.email.$touched && signUpForm.email.$error.required" class="alert alert-danger">your email cannot be blank/valid</p>
            </div>
            <div class="form-group">
                <label for="firstName"> First Name</label>
                <input type="firstName" class="form-control" id="firstName" placeholder="your first name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input ng-model="lastName" name="lastName" type="lastName" class="form-control" id="lastName" placeholder="your last name" required>
                <p ng-show="signUpForm.lastName.$invalid && signUpForm.lastName.$touched" class="alert alert-danger">We need to know your last name</p>
            </div>
            <div class="form-group">
                <label for="numbers">Date of birth</label>
                <input type="numbers" name="dob" class="form-control" id="numbers" placeholder="MM/DD/YYYY" ng-model="numbers" date-valid>
                <p class="alert alert-danger" ng-show="signUpForm.dob.$invalid && signUpForm.dob.$touched"> You are too young. </p>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="pwd1" name="password" class="form-control" ng-model="password" required compare-to="confirmPassword">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="pwd2" name="confirmPassword" ng-model="confirmPassword" class="form-control" required/>
                <p class="alert alert-danger" ng-show="signUpForm.password.$invalid && signUpForm.password.$touched && signUpForm.confirmPassword.$touched"> Passwords don't match. </p>
            </div>
            <button type="button" class="btn btn-default" ng-click="clearForm()">Reset</button>
            <button type="submit" name="success" class="btn btn-primary" ng-disabled="signUpForm.$invalid" ng-click="submitForm()">Submit</button>
            <p class="alert alert-success" ng-show="signUpForm.$submitted">
                <strong>Success!</strong> Form has been submitted.
            </p>
        </div>
    </form>
    <!-- our Javascript -->
    <script src="js/app.js"></script>
</body>

</html>