<div class="container">
    <div class="top-margin">
        <h2>Add Note</h2>
        <form name="newList">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="title" class="form-control" id="title" ng-model="title"></input>
            </div>
            <div class=" form-group ">
                <label for="content ">Content</label>
                <textarea rows="4" cols="50" class="form-control" id="content" ng-model="body" data-provide="markdown"></textarea>
            </div>
            <!-- Tagging format -->
            <div><b>Tags</b></div>
            <div class="tag-input-ctn form-group">
                <div data-ng-repeat="(key, tag) in inputTags" class="input-tag"> {{ tag.name }}
                </div>
                <input type="text" class="form-control" data-ng-model="tagText" data-new-tag="addTag()">
            </div>
            <p></p>
            <a ui-sref="home"><button ng-click="newNote()" id="add" class="btn btn-primary" type="button" ng-hide="id">Add</button></a>
            <a ui-sref="home"><button ng-click="editNote()" id="edit" class="btn btn-primary" type="button" ng-show="id">Save</button></a>
            <p>
        </form>
    </div>
</div>