<form name="noteSearch" class="row form-inline top-margin">
    <!-- Note search filter-->
    <div class="searchBar">
        <i class="fa fa-search"></i>
        <input name="notes" placeholder="Filter Your Notes" id="search" ng-model="searchNotes">
    </div>
</form>

<div ng-repeat="item in list | orderBy: '-time' | filter:searchNotes" ng-if="userName == item.author">
    <div class="note ">
        <a ui-sref="re-edit({id: list.$indexFor(list.$keyAt(item))})"><i class="edit fa fa-pencil-square-o fa-lg"></i></a>
        <i class="delete fa fa-trash fa-lg" ng-click="delete(item)"></i>
        <h1>{{item.title}}</h1>
        <h2>By: {{item.author}}</h2>
        <hr>
        <div ng-bind-html="renderHtml(item.body)"></div>
        <p class="tags">Tags: {{item.tagText}}</p>
        <footer>{{formatTime(item.time)}}</footer>
    </div>
</div>