<div class="note" ng-controller="TodoCtrl">
    <div class="row">
        <div class="col-xs-11 col-sm-11">
            <h2>{{item.title}}</h2>
        </div>
        <div class="icon1 col-xs-1 col-sm-1">
            <a ui-sref="re-edit({id: itemID})" ng-show="userName == item.author"><i class="editSide fa fa-pencil-square-o fa-lg" ng-click="cancel()"></i></a>
            <a><i class="deleteSide fa fa-trash fa-lg" ng-click="delete(list[itemID]);cancel();" ng-show="userName == item.author"></i></a>
        </div>
    </div>
    <div ng-bind-html="renderHtml(item.body)"></div>
    <hr>
    <p class="tags">Tags: {{item.tagText}}</p>
    <footer>{{formatTime(item.time)}}</footer>
</div>